@model UpSkillz.Models.Course


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Course Lessons";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-success">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index" class="text-decoration-none text-success">My Courses</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Title)</li>
    </ol>
</nav>


<main>
    <h2 class="text-center mb-4"> @Html.DisplayFor(model => model.Title)</h2>
    <hr>
    <div id="instructor-dashboard-course">
        <div class="banner d-flex flex-column justify-content-center align-items-center mb-5">
            <h1 class="display-6">Expand your course?</h1>
            <a role="button" asp-controller="Lessons" asp-action="Lesson" asp-route-courseId="@Model.CourseId"
                class="btn btn-upskillz mt-2 py-2 px-5">Create a lesson</a>
        </div>
    </div>

    @if (Model.Lessons.Any())
    {
        <ul class="list-group px-3">
            @foreach (var lesson in Model.Lessons)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="w-75">
                        <h5>@lesson.Title</h5>
                        <p class="text-truncate">@lesson.Content</p>
                    </div>
                    <a class="btn btn-outline-upskillz" asp-controller="Lessons" asp-action="Lesson"
                        asp-route-id="@lesson.LessonId" asp-route-courseId="@Model.CourseId">Edit</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No lessons found.</p>
    }

</main>
